<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tugas.project">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.ProjectUAS">
        <activity
                android:name=".ui.AboutActivity"
                android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
                android:exported="true"/>
        <activity
                android:name=".ui.detail.DetailListType"
                android:exported="true"/>
        <activity
                android:name=".ui.admin.TambahTypeDog"
                android:exported="true"/>
        <activity
                android:name=".ui.user.ActivityListMakananDog"
                android:exported="true"/>
        <activity
                android:name=".ui.user.ActivityListMainanDog"
                android:exported="true"/>
        <activity
                android:name=".ui.user.ActivityMenuUser"
                android:exported="true"/>
        <activity
                android:name=".ui.admin.ActivityMakananAnjing"
                android:exported="true"
                android:label="Tambah Makanan"/>
        <activity
                android:name=".ui.admin.ActivityMainanDog"
                android:exported="true"
                android:label="List Mainan"/>
        <activity
                android:name=".ui.admin.HomeMenuActivity"
                android:exported="true"
                android:label="Home Menu Admin"/>
        <activity
                android:name=".ui.detail.ActivityDetailDog"
                android:exported="true"/>
        <activity
                android:name=".ui.admin.HomeAdmin"
                android:exported="true"
                android:label="List doggy"/>
        <activity
                android:name=".ui.user.HomeUser"
                android:exported="true"/>
        <activity
                android:name=".auth.UserRegisterActivity"
                android:exported="true"/>
        <activity
                android:name=".anjing.TambahDataAnjing"
                android:exported="true"
                android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
                android:name=".auth.LoginUserActivity"
                android:exported="true"
                android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
                android:name=".auth.LoginAdminActivity"
                android:exported="true"
                android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>